# CocoaPods
Pods/

# Swift Package Manager
# NB: slash on the end, so we only remove the FOLDER, not any files that were badly named "build"
.build/
build/
*.resolved

# Firebase/Google Services
GoogleService-Info.plist

# Xcode
# Ignore Xcode user-specific files
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
DerivedData/
*.xcworkspace

# Scheme Management
xcschemes/xcschememanagement.plist

# User-specific state files
*.xcuserstate

# macOS Finder
.DS_Store

# macOS Trash
.Trashes

# Vim swap files
*.swp

# Temporary files created by the system
*.tmp
*.log

# Ignore specific files you mentioned
5520_IOS_Group44.xcodeproj/project.xcworkspace/xcuserdata/
5520_IOS_Group44.xcodeproj/xcshareddata/swiftpm/Package.resolved
